# Data Bootcamp: Code Practice #2

### 1. Review. Does this code run without error? If so, what does it produce? If not, explain why.

In [2]:
x = [1, 2, 3]
y = 'bootcamp'
z = x + y

TypeError: can only concatenate list (not "str") to list

This code does not run without error. There is a type error because Python cannot concatenate a string to a list.

### 2. Review. For the same x and y in the previous question: What function tells us what type they are? What function tells us how many elements they contain?

In [9]:
type(x)

list

In [10]:
type(y)

str

In [11]:
len(x)

3

In [12]:
len(y)

8

The Type Function tells us the type of a given object in Python. The Length Function len() gives us the number of elements assigned to a given variable (contained in the list or string as in this example).

### 3. What type is each expression? How can you tell?

In [13]:
type(2)

int

In [14]:
type('2')

str

In [15]:
type(2.0)

float

In [4]:
type("2.0")

str

In [19]:
type(2>1)

bool

In [20]:
type('Itamar'>'Chase')

bool

In [21]:
type([1, 2])

list

In [22]:
type((1,2))

tuple

In [23]:
type({1: 'one', 2: 'two'})

dict

Using the Type function is a sure way to check the types of different objects. In general, integers are numbers without decimals, floats are numbers containing decimals, strings are objects placed in quotations (can be really any character beyond just letters), Boolean are objects whose values are either true or false, lists are elements contained in brackets separated by commas, tuples are comma-separated elements in parentheses, and dictionaries are contained in the curly brackets and are composed of keys and values that those keys map to.

### 4. What value does each of these comparisons have?

In [24]:
1>=0

True

In [25]:
1 >= 0

True

In [26]:
1 > 1

False

In [27]:
1==1

True

In [28]:
1 == 1.0

True

In [29]:
'Spencer' == "Spencer"

True

In [30]:
2**3 > 3**2

False

In [31]:
1 >= 0 or 1 <= 2

True

In [32]:
1 >= 0 and 1<= 2

True

### 5. Does this code run without error? If so, what does it produce? If not, how would you fix it?

In [33]:
if 2>1
    print('Yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-33-a0bf5c01fbc0>, line 1)

This code produces a syntax error because if statements require a colon directly following the if statement in the first line of code to run properly.

In [316]:
if 2>1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

### 6. What is the result of running this code? Why?

In [34]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

The result of this code is the first statment "on the one hand" because Python runs line by line. In this example, if the first expression is true, then the first command is executed and Python ignores the rest of the conditional statement (the else part in this example). if True is always true, so Python will immediately execute the following command.

### What happens if we replace True with False in the first line? What happens if we insert the word not after if in the first line?

In [35]:
if False:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

In [36]:
if not True:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

Similar to the previous example, if False is always false so Python goes to the next line and excutes the command following the else statement. If we add a "not" immediately before True, Python carrys out the same thing as replacing True with False. The "not" inverts an expression-- so for True/False it gives the opposite value.

### 7. What is the result of running this code?

In [37]:
cond = True
if cond:
    x = 'Chase'
else:
    x = 'Dave'
print(x)

Chase

In this example, True is assigned to the variable "cond." so it is essentially saying "if True: x = 'Chase.' As seen above, if True always yields True and Python executes the following command. Python does not even run through the else statement since this first condition is met.

### 8. Suppose we have two lists, x = [1, 2, 3, 4] and y = ['x', 'y', 'z']. Adapt the code below to determine which has more elements:

In [19]:
x = [1, 2, 3, 4]
y = ['x', 'y', 'z']

In [20]:
if len(x)>len(y):
    print('x has more')
else:
    print("y has at least as many")

x has more

### 9. Explain in words what slicing does.

In Python, slicing allows you to take a section of a given object without changing the original object. For example, in a list, it could allow you to take only a select number of specific elements from the list. By executing a slice, you are inputting a start and a stop,  so that Python knows which element index number to start with (it is included) and where to stop (this last item isn't included). You can additional include a stride (start:stop:stride) that specifies an interval to proceed through the start:stop range by.

### 10. How would you extract ("slice") the first element (the integer 1) from the list x below? The last element? All but the last element?

In [44]:
x = [1, 2, 3, 4, 5]

In [45]:
x[0]

1

In [47]:
x[-1]

5

In [48]:
x[:-1]

[1, 2, 3, 4]

### 11. Use slicing to extract each word from

In [88]:
sentence = 'This is a sentence; please slice it.'

In [124]:
print(sentence[0:4], sentence[5:7], sentence[8:9], sentence[10:18], sentence[20:26],sentence[27:32],sentence[33:35])

This is a sentence please slice it

You also could've done each slice in a different cell to get each word separately. I chose to print them all together.

### 12. Consider the list

In [257]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]

#### a. How would you slice out the first item? The last item?

In [56]:
x[0]

1

In [57]:
x[-1]

10

#### b. How would you slice out the items from 'b' to 3 inclusive?

In [59]:
x[3:7]

['b', 'fast', 'slow', 3]

### 13. Using the same list x, write a loop that prints every element on a new line.

In [64]:
for elements in x:
    print(elements)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

### 14. Challenging. Using the same list x, write a loop that prints every element of type str.

In [265]:
for elements in x:
    if type(elements)== str:
        print(elements)

a
b
fast
slow
Raghu
Liuren

### 15. Use the help functions in Jupyter to find out what the range function does. How would you describe the range (3,12,2)? Verify by converting to a list with list(range(3,12,2)).

range (3,12,3) creates an obejct beginning at the three and ending at, not including, twelve, with a step (or increment of 2). So it would give you every other element from 3 to 12 not including 12. The start defaults at 0 if not specified.

In [71]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

### 16. Challenging: Write a loop that sums the integers from zero to thirty that are multiples of 3: 3, 6, etc.

In [193]:
sum = 0
for x in range(0,31,3):
    sum = sum + x
print(sum)

165

### 17. Define a function pocket_change( ) that takes four integers as inputs (numbers of pennies, nickles, dimes, and quarters in your pocket) and returns a floating point number (their dollar value). Run your program with the input(1, 2, 3, 4). Bonus (optional): Report the value with a dollar sign.

In [219]:
def pocket_change(p,n,d,q):
    return 0.01*p + 0.05*n + 0.10*d + 0.25*q

In [220]:
pocket_change(1,2,3,4)

1.4100000000000001

In [226]:
'${:,.2f}'.format(1.41000000000000001)

'$1.41'

This is my best effort on adding a dollar sign. I am not sure how to get it to return without the quotes, as I am pretty sure the value must be a string to include dollar sign.

### 18. Challenging: Write a function notsix( ) that takes a list of integers and returns a (shorter) list of only those that do not begin with 6. Test it on the list [1234, 6783, 6, 4321, 9876]

In [312]:
def notsix(list_1):
    for x in list_1:
        if str(list_1)[0] !=6:
            return(new_list)

In [313]:
list_1 = [1234, 6783, 6, 4321, 9876]

In [314]:
notsix(list_1)

[1234, 4321, 9876]

### 19. Challenging: Explain what this code does:

In [78]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] !="6"]

In [79]:
print(new_list)

[1234, 4321, 9876]

This code takes elements in the old list and if their first element in each string is not equal to 6, it returns them in new_list

### 20. Consider python object

In [162]:
z = {1: 'one', 2: 'two', 3: 'three'}

#### a. What kind of object is z? What is its length?

In [82]:
len(z)

3

z is a dictionary with a length of 3 since there are 3 key/value pairs.

#### b. Which components are keys? Which are values?

The keys are the 1, 2, 3 that are immediately prior to the colons. The 'one', 'two', and 'three' are the values since they are following to and corresponding to each of the numerical keys.

#### c. How would I get the value associated with the key 2?

In [191]:
for key, value in z.items():
    if key == 2:
        print(value)

two

#### d. Use Jupyter's help facilities to figure out what z.keys( ) does. Ditto z. values( ). Try them to verify.

In [171]:
z.keys()

dict_keys([1, 2, 3])

In [170]:
z.values()

dict_values(['one', 'two', 'three'])

z.keys() is a built-in method that provides a set-like object providing a view on the dictionary's keys. z.values() does the same thing for a dictionary's values.

#### e. What does list (z.keys( )) do?

In [172]:
list(z.keys())

[1, 2, 3]

This creates a list of the keys associated with dictionary z.

#### f. What does list (z.values ( )) do?

In [173]:
list(z.values())

['one', 'two', 'three']

This creates a list of the values associated with dictionary z.

#### g. What does list (z) do?

In [174]:
list(z)

[1, 2, 3]

This creates a list of the keys in dictionary z. It does not include the values associated with each key.

### 21. Approximately how long did this assignment take you? Answer this by creating a .csv file and entering the time (in minutes) and posting it to your Github my_first_repository titled time_for_practice2.csv

180 minutes